	<!DOCTYPE html>
	<html>
	<head>
		<title>SoundTrack | Start</title>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<center>
				<div class="jumbotron">
					<h1>SoundTrack</h1>
				</div>
				<div class="login">
					<label>Username</label><br/>
					<input type="text" id="username"></input><br/><br/>
					<label>Password</label><br/>
					<input type="text" id="password" ></input><br/>
					<button class="button" onclick="fakeLogin()">Log in</button>
				</div>
				<div>
					Log in by using Username: user and Password: pass
				</div>
			</center>
		</div>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/script.js"></script>


	</body>
	</html>