button {
    background-color: #00BCD4;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
}

.button {
    width: 20%;
    background-color: #eee;
    padding: 10px;
    margin-top: 12px;
    background-color: #00BCD4;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
}

html {
    font-family: 'Josefin Sans', sans-serif;
}

h4 {
  font-size: 140%;
  font-family: 'Josefin Sans', sans-serif;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
}

#productivityTracker {
  font-family: 'Josefin Sans', sans-serif;
}

.productivity {
  width: 20%; 
  background-color: lightblue; 
  float:left;
}

.offtask {
  width: 20%;
  background-color: red; 
  float:right;
}


.downtime-text {
  font-weight: bold;
  font-size: 100%;
}

#volume:before {
  content: "Alert Volume: ";
  font-weight: bold;
  font-size: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.soundscroll{
  display:block;
  top:0;
  left:0;
  max-height:auto;
  margin:0;
  background: #d3d3d3;
  overflow-y:hidden;
  overflow-x:auto;
  white-space: nowrap;
}
.soundscroll > button{
  display:inline-block;
}

.squares{
  width:370px;
}

.squares > button{
  width:100px;
  height:100px;
  margin:10px;
}