::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-


button{width:2px;height:2px;}

button {
    background-color: #eee;

}

.button {
    width: 20%;
    background-color: #eee;
    padding: 1px;
    margin-top: 15px;

}

html {
    font-family: 'Josefin Sans', sans-serif;
}



#downtime:before {
  content: "Allowed Downtime: ";
  font-weight: bold;
  font-size: 100%;
}

#downtime:after {
    content: " minutes"
}

#volume:before {
  content: "Alert Volume: ";
  font-weight: bold;
  font-size: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.soundscroll{
 /*position:relative;*/
  display:block;
  top:0;
  left:0;
/*  width:400px;
*/  max-height:auto;
  margin:0;
  background: #d3d3d3;
  overflow-y:hidden;
  overflow-x:scroll;
  white-space: nowrap;

  /*transform:rotate(-90deg) translateY(-280px);
  transform-origin:right top;*/

}
.soundscroll > button{
  display:inline-block;
  /*padding:5px;*/
 /* background:#cab;*/
 /* transform:rotate(90deg);
  transform-origin: right top;*/

}

.squares{
  width:500px;
}

.squares > button{
  width:100px;
  height:100px;
  margin:10px;

}


